*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5495;
  letter-spacing: -0.02em;
  font-family: Helvetica, sans-serif;
  color: #002f34;
}

a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.body-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  background-color: #f7f8f8;
  position: sticky;
  top: 0;
  z-index: 6;
  border-bottom: 0 solid #dedede;
}

.brand-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.25s ease-in;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

@media only screen and (max-width: 1280px) {
  .brand-container {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 620px) {
  .brand-container {
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
  }
}

.brand-items {
  margin-right: 4rem;
}

@media only screen and (max-width: 620px) {
  .brand-items {
    margin: 0 2rem;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  display: none;
}

.menu-btn-brand {
  margin-left: 2rem;
  display: none;
}

@media only screen and (max-width: 620px) {
  .brand-items-hide {
    display: none;
  }
  .menu-btn {
    display: inline;
  }
  .menu-btn-brand {
    display: inline;
  }
}

.brand-olx {
  padding-bottom: 0.6rem;
  display: flex;
}

@media only screen and (max-width: 620px) {
  .brand-olx {
    padding-bottom: 0;
  }
}
.olx-logo {
  width: 3.2rem;
  height: 2rem;
  fill: #3a77ff;
}

.brand-items-icons {
  transition: fill 0.2s ease;
}
.brand-items-icons:hover {
  fill: #3a77ff;
}

/* MENU.html STYLES */

.menu_body,
.index_body {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  border-bottom: 0.18rem solid #b8b8b8;
}

.user_image {
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  /* background: #d3d3d3; */
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 80px;
  height: 80px;
}

.nav {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.25s ease-in;
  display: flex;
  padding: 1rem 0;
}

@media (max-width: 1280px) {
  .nav {
    max-width: 1024px;
  }
}
.nav-brand-container {
  margin: auto;
}

.nav-brand {
  display: flex;
}

.nav-brand-icon {
  height: 3.5rem;
  margin: auto;
}

/* ._8d2a668a, ._732f3cd0 */
.nav-childs.nav-cities {
  width: 27.2rem;
  transition: width 0.25s ease-in;

  /* min-width: 27.2rem; */
}

.nav-childs {
  display: inline-block;
  margin: 0 1.6rem 0 3.5rem;
}

@media only screen and (max-width: 950px) {
  .nav-childs.nav-cities {
    width: 25%;
    min-width: unset;
  }

  .nav-childs {
    display: inline-block;
    margin: 0 1.6rem 0 1.5rem;
    transition: margin 0.25s ease-in;
  }
}

.nav-container {
  display: flex;
  height: 48px;
  max-height: 100%;
  background-color: #fff;
  border: 2px solid #012f34;
  border-radius: 4px;
}

.nav-container:active {
  border-color: #00bcd1;
}

.nav-container:hover {
  border-color: #00bcd1;
  transition: border-color 0.2s ease;
}
/* .cities-container: {
  border: 2px solid #00bcd1;
} */

.nav-items {
  display: flex;
  align-items: center;
}

.city-search-icon {
  margin-left: 0.8rem;
  fill: #002f34;
}

.search-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.cities-trigger {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1.6rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.nav-input {
  color: #002f34;
  font-size: 1.596rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 0 0 1.2rem;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.nav-searchbar {
  flex: 1;
}

.search-btn {
  background: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002f34;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 48px;
  width: 48px;
}
.nav-searchbar {
  width: 100%;
}
.nav-searchbar .nav-container {
  width: 100%;
  max-width: 100%;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: 0;
}

.search-btn-icon {
  fill: #fff;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
}

.login-button {
  background: none;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  border-bottom: 2px solid #002f34;
}

.login-button:active,
.login-button:focus {
  outline: none;
}
.login-button:hover {
  border-bottom: 2px solid transparent;
}

.login-btn-matter {
  font-weight: 700;
  font-size: 1.596rem;
}

.sell {
  margin-left: 2rem;
}
.sell-btn {
  background: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  color: inherit;
  display: flex;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
}

.sell-btn-icon {
  height: 4.8rem;
  width: 10.4rem;
}

.sell-btn-content {
  display: flex;
  position: absolute;
  top: 1.6rem;
  left: 2.5rem;
  align-items: center;
  justify-content: center;
}

.icon-plus {
  margin-right: 0.4rem;
}

.sell-btn-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}

.list-catagories-container {
  padding: 1.2rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.list-categories-content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.25s ease-in;
  position: relative;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .list-categories-content {
    max-width: 1024px;
  }
}

.all-categories {
  margin-right: 1.6rem;
}

.all-content {
  color: #002f34;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.catogories-trigger {
  margin-left: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.2s;
}

.catagories-items {
  display: inline-block;
  margin: 0 0.8rem;
}

.catagories-items a:hover {
  color: #00bcd1;
  transition: color 0.3s;
}
.catagories-items-text {
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #002f34;
}

.banner {
  /* width: calc(100% - 3.2rem); */
  max-width: 1280px;
  margin: 1.6rem 1.6rem 0;
  position: relative;
}
@media only screen and (min-width: calc(1312px)) {
  .banner {
    width: 100%;
    max-width: 1280px;
    margin: 1.6rem auto 0;
  }
}

.banner-slider {
  overflow-x: hidden;
  padding: 0px calc(0%);
}

.banner-slider-container {
  height: 18rem;
  max-width: 1280px;
  width: 100%;
  margin: 0.8rem auto;
}

@media only screen and (max-width: 950px) {
  .banner-slider-container {
    height: 15rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  .banner-slider-container {
    height: 12rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .banner-slider-container {
    height: 10rem;
    max-width: 100%;
  }
}
.banner-image-container {
  width: 100%;
  height: 100%;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 12.5s infinite;
}

.slider .slide:nth-child(1) {
  background-image: url("asset/images/banner/banner-800x600.jpeg");
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  background-image: url("asset/images/banner/banner-800x600.jpeg");
  animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
  background-image: url("asset/images/banner/banner-800x600.jpeg");
  animation-delay: -5s;
}

.slider .slide:nth-child(4) {
  background-image: url("asset/images/banner/banner-800x600.jpeg");
  animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
  background-image: url("asset/images/banner/banner-800x600.jpeg");
  animation-delay: -10s;
}

@keyframes slider {
  0%,
  16%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
@media only screen and (max-width: 950px) {
  .slider .slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.products {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 1.6rem auto;
  width: 100%;
  flex-direction: column;
}

.products-contianer {
  padding: 0 1.6rem;
}
.products-heading {
  font-size: 1.988rem;
  display: block;
  font-size: 1.596rem;
  color: #002f34;
  margin-bottom: 0.8rem;
}

@media only screen and (min-width: 950px) {
  .products-heading {
    font-size: 2.394rem;
  }
}

.products-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0.8rem;
}

.products-list li {
  /* background: #00bcd1; */
  width: calc(50% - 0.4rem);
  height: 28.9rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
@media (max-width: 950px) {
  .products-list li {
    height: 28.8rem;
    margin-top: 0.8rem;
  }
  .products-list li:not(:nth-child(2n)) {
    margin-right: 0.8rem;
  }
}

@media (min-width: 950px) {
  .products-list li {
    width: calc(25% - 0.6rem);
  }
}
@media (min-width: 950px) {
  .products-list li:not(:nth-child(4n)) {
    margin-right: 0.8rem;
  }
}

.products-list-items {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border: 0.1rem solid rgba(0, 47, 52, 0.2);
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.product-picture-container {
  height: 60%;
  background-color: #fff;
  margin: 0;
  background-color: #222;
  position: relative;
  border-bottom: 0.1rem solid rgba(0, 47, 52, 0.2);
  height: 56%;
}

@media only screen and (min-width: 768px) {
  .product-picture-container {
    height: 52%;
  }
}
.product-picture {
  margin: auto;
  height: 100%;
  width: 100;
  object-fit: cover;
}

.products-content-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.8rem 0.875rem 0.6rem 1.6rem;
  height: 44%;
}

@media only screen and (min-width: 768px) {
  .products-content-container {
    padding: 0.8rem 1rem 1rem 1.7rem;
    height: 48%;
  }
}

.product-header {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  position: relative;
  line-height: 1.8rem;
}

.product-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #002f34;
  font-size: 1.2rem;
  line-height: 1.8rem;
  white-space: unset;
  width: 85%;
}

@media (min-width: 768px) {
  .product-heading {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
}

.product-price-container {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.4rem 0 0;
}

.product-price {
  color: #002f34;
}

.favorite-btn {
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 950px) {
  .favorite-btn {
    height: 1.8rem;
    width: 1.95rem;
  }
}

.favorite-btn-icon {
  width: 100%;
  height: 100%;
  display: flex;
}

.fav-icon {
  fill: #ffffff !important;
}
.fav-icon:hover {
  fill: #ff0000 !important;
  transition: fill 0.25s;
}

.product-footer {
  margin-top: auto;
  color: #61797d;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-adress,
.footer-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-content-separator {
  margin: 0 0.4rem;
}

.top-btn {
  background: none;
  appearance: none;
  margin: 2rem 0;
  cursor: pointer;
  color: inherit;
  color: #002f34;
  position: relative;
  /* top: 12rem; */
  left: 50%;
  right: unset;
  bottom: unset;
  z-index: 6;
  width: 15rem;
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  height: 4.4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%);
  transition: opacity 0.2s, visibility 0.2s;
}

.top-btn:active,
.top-btn:focus {
  outline: none;
}

.top-btn-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back-to-top-icon {
  display: inline;
  height: 2rem;
  width: 2rem;
}
.back-to-top-text {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.footer {
  height: 300px;
}
